<!DOCTYPE html>
<html lang="en">
  <head>
   {{>head}}
  </head>
  <body>
    
	 {{>nav}}
    
    <section class="hero-wrap hero-wrap-2" style="background-image: url('images/mountainpic.jpg');" data-stellar-background-ratio="0.5">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
          <div class="col-md-9 ftco-animate text-center">
            <h1 class="mb-2 bread">About Us</h1>
            <p class="breadcrumbs"><span class="mr-2"><a href="/">Home <i class="ion-ios-arrow-forward"></i></a></span> <span>Blog <i class="ion-ios-arrow-forward"></i></span></p>
          </div>
        </div>
      </div>
    </section>
	
		<section class="ftco-section ftco-wrap-about ftco-no-pb ftco-no-pt">
			<div class="container">
				<div class="row no-gutters">
	          <div class="heading-section mt-5 mb-4">
	          	<div class="pl-lg-5 ml-md-5">
		          	<span class="subheading">About</span>
	            </div>
	          </div>
	          <div class="pl-lg-5 ml-md-5">
							<p>Reign Summit was established in 2020. It is known for its unisex styles and affordable prices. 
              The many different things we sell will apply all Men, Women and children. 
              We do not have any physical stores at the moment but it is in the making. 
              We do have social media accounts located at the bottom of the page.
              The name was created from the definitions of both "Reign" and "Summit".
              The definition of Reign is "hold royal office; rule as king or queen."
              And the definition of Summit is "the highest point of a mountain."
              So to put them together it means that the king or queen is at the top of the mountain
               The owner of this Brand is Zaire Sims.  
              </p>
							
	            </div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section class="ftco-section ftco-counter img" id="section-counter" style="background-image: url(images/ReignSummitLogo.jpg);" data-stellar-background-ratio="0.5">
    	<div class="container">
    		<div class="row d-md-flex align-items-center justify-content-center">
    			<div class="col-lg-10">
    				<div class="row d-md-flex align-items-center">
		          <div class="col-md d-flex justify-content-center counter-wrap ftco-animate">
		            <div class="block-18">
		              <div class="text">
		                <strong class="number" data-number="2">0</strong>
		                <span>Years established</span>
		              </div>
		            </div>
		          </div>
		          <div class="col-md d-flex justify-content-center counter-wrap ftco-animate">
		            <div class="block-18">
		              <div class="text">
		                <strong class="number" data-number="20">0</strong>
		                <span>Happy Customers</span>
		              </div>
		            </div>
		          </div>
		          <div class="col-md d-flex justify-content-center counter-wrap ftco-animate">
		            <div class="block-18">
		              <div class="text">
		                <strong class="number" data-number="50">0</strong>
		                <span>Finished designs</span>
		              </div>
		            </div>
		          </div>
		              </div>
		            </div>
		          </div>
	          </div>
          </div>
        </div>
    	</div>
    </section>
    
  {{>footer}}  
  {{>scripts}}
    
  </body>
</html>